<li class="one-county">
    <h2>{{name}}</h2>
    <p>Capital is {{capital}}</p>
    <img src="{{flag}}" alt="{{name}}">
    <p>Region: {{region}}, {{subregion}}</p>
    <p>Area: {{area}} km²</p>
    <p>Language: {{#each languages}} {{this.name}} {{/each}}</p>
</li>